<div id="carouselProjectImages" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselProjectImages" data-slide-to="0" class="active"></li>
    <li data-target="#carouselProjectImages" data-slide-to="1"></li>
    <li data-target="#carouselProjectImages" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item carousel-item2 active">
      <img class="d-block w-100" src="assets/img/carrousel/aislamiento_termico.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>AISLAMIENTO TÉRMICO</h5>
        <p>Industrias - Comercio - Vivienda</p>
      </div>
    </div>
    <div class="carousel-item carousel-item2">
      <img class="d-block w-100" src="assets/img/carrousel/acondicionamiento.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>ACONDICIONAMIENTO</h5>
        <p>Espacios en general</p>
      </div>
    </div>
    <div class="carousel-item carousel-item2">
      <img class="d-block w-100" src="assets/img/carrousel/proyecto_integral.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>PROYECTO INTEGRAL</h5>
        <p>Descripción pendiente.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselProjectImages" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselProjectImages" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>