.square-secondary{
  background-color: #f8f9fa;  
  width: 2rem;
  height: 2rem;
}
.mt-10, .my-10{
  margin-top: 10rem!important;
}

.mb-10, .my-10{
  margin-bottom: 10rem!important;
}
.benefits-icons-size{
  font-size: 3rem;
}

.social-networks{
  display: inline;
}
.social-networks li{
  display: inline;
  margin-right: 1rem;
}
.social-networks li i{
  font-size: 1.5rem;
}