.square-secondary{
  background-color: #f8f9fa;  
  width: 2rem;
  height: 2rem;
}
.mt-10, .my-10{
  margin-top: 10rem!important;
}
.mt-9{
  margin-top: 9rem!important;
}
.mt-8{
  margin-top: 8rem!important;
}
.mt-7{
  margin-top: 7rem!important;
}
.mt-6{
  margin-top: 6rem!important;
}
.mb-10, .my-10{
  margin-bottom: 10rem!important;
}
.benefits-icons-size{
  font-size: 3rem;
}

.social-networks{
  display: inline;
}
.social-networks li{
  display: inline;
  margin-right: 1rem;
}
.social-networks li i{
  font-size: 1.5rem;
}

.logo-containter{
  width: 6rem;
  margin-left: 0.5rem;
}

.body-font{
  font-family: "Barlow", sans-serif !important;
}

.testimonial-footer-bg{
  background-color:white;
}

.img-container-question{
}
.question-bg{
  padding: 40px 0px;
  background-color: #222A4B;
  color: white;
}

.gray-section {
  background-color: #e3e3e3;
  padding: 40px 0px;
}
.navbar-custom-links{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #222A4B !important;
}

.navbar-custom-links:hover{
  background-color: #528AB4 !important;
  color: white !important;
}

.casos-de-exito button{
  color: #222A4B !important;
}

.casos-de-exito button:hover{
  background-color: #528AB4 !important;
  color: white !important;
}
.casos-de-exito .active{
  background-color: #528AB4 !important;
  color: white !important;
}

.years-experience:before{
    content: "12" !important;
    font-family: "Barlow", sans-serif !important;
    font-weight: 400 !important;
}
.clientes-satisfechos:before{
  content: "+30" !important;
  font-family: "Barlow", sans-serif !important;
  font-weight: 400 !important;
}

.servicios-brindados:before{
  content: "4" !important;
  font-family: "Barlow", sans-serif !important;
  font-weight: 400 !important;
}

.carrousel-title{
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 3px 3px 3px #222a4b;
}

.carrousel-description{
  font-weight: 300;
  text-shadow: 3px 3px 3px #222a4b;
}