header {
    position: relative;
    font-size: 25px;
}

.navbar {
    z-index: 10;
    width: 100%;
    transition-property: background-color;
    transition-duration: .8s;
}

.carousel-item > img{
    object-fit: cover;
    height: 40vh;
    width: 100%;
    object-position: 20% 20%;
} 


.pyr_section {
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
} 

.contact_us_section {
    flex: 1 1 200px;
    margin: 50px;
    position: relative;
}

.contact_us_section > * {
    width: inherit;
    height: inherit;
}

.btn-pyr {
    width: 100px;
}