header {
    position: relative;
    font-size: 18px;
}

.navbar {
    z-index: 10;
    width: 100%;
    transition-property: background-color;
    transition-duration: .8s;
}
.carousel-item{
    transition: transform 2s ease;
} 
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
/*
.carousel-item > img{
    object-fit: cover;
    height: 40vh;
    width: 100%;
    object-position: 20% 20%;
} 
*/

.material-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.pyr_section {
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
} 

.contact_us_section {
    flex: 1 1 200px;
    margin: 50px;
    position: relative;
}

.contact_us_section > * {
    width: inherit;
    height: inherit;
}

.btn-pyr {
    width: 100px;
}