<div class="phrase-container">
    <div class="container" style="padding: 102px 0;">
    <p class="font-italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus architecto maiores natus hic mollitia officia voluptatum iste voluptatibus assumenda nihil, doloremque quibusdam excepturi.
    </p>
    </div>
</div> 