<div class="phrase-container">
    <p class="phrase-content" >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus architecto maiores natus hic mollitia officia voluptatum iste voluptatibus assumenda nihil, doloremque quibusdam excepturi, ipsam voluptate adipisci! Eum magnam ratione mollitia? 
    </p>

</div>