<div class="phrase-container">
    <div class="container" >
        <p class="font-italic" style="
        position: relative;
    ">
            "ASESORIA SIN COSTO, APOYO EN EL PROCESO CONSTRUCTIVO Y CALIDAD DE SERVICIO <br> A TIEMPO <span class="phrase-background"></span>"
        </p>
    </div>
</div> 