<div class="phrase-container">
    <div class="container" >
        <p class="font-italic">
            "ASESORIA SIN COSTO, APOYO EN EL PROCESO CONSTRUCTIVO Y CALIDAD DE SERVICIO <br> A TIEMPO JUSTO"
        </p>
    </div>
</div> 