<div class="phrase-container">
    <div class="container" >
        <p class="font-italic" style="position: relative;">
            <span class="signal-span-top">"</span>Asesoría sin costo, apoyo en el proceso constructivo<br>y calidad de servicio a <span>tiempo justo.</span> <span class="signal-span-bottom">"</span>
        </p>
        <a onClick="document.getElementById('item-5').scrollIntoView({ behavior: 'smooth', block: 'center' });" class="btn bg-pyr-alter">Solicitar</a>
    </div>
</div>