<div class="phrase-container">
    <div class="container" >
        <p class="font-italic" style="position: relative;font-size: 25px;font-weight: 300;">
            "Asesoría sin costo, apoyo en el proceso constructivo y calidad de servicio <br> a <span class="phrase-background"></span>"
        </p>
    </div>
</div> 