<!DOCTYPE html>
<html>
<head>
	<title>PYRSERVICIOS - INICIO</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/custom-styles.css">
	
	<meta charset="UTF-8">
  	<meta name="description" content="Somos un equipo de profesionales con una amplia experiencia y especializaciones en soluciones arquitectónicas integrales">
  	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="viewport" content="">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<!-- Header -->
	<header>
		<%- include('components/header/carousel') %>
	</header>
	<!-- Content -->
		<%- include('components/body/landing') %>
	<!-- Footer -->
	<footer class="text-light text-center text-lg-start bg-secondary">
		<%- include('components/footer/footer') %>
	</footer>
	  
</body>
</html>