    <div class="grid-container">
        <div data-aos="fade-up">
            <h4 class="display-6 " >Conoce nuestra misión, visión y experiencia.</h4>
        </div>
        <div class="about_us_item" data-aos="fade-up">
            <span class="about_us_item_icon_container">
                <i class="bi bi-bullseye about_us_item_icon"></i>
            </span>
            <div class="about_us_item_text">
                <p class="h5 " >Nuestra misión</p>
                <p class="text-justify">
                Es actuar de manera personalizada en los sectores comerciales y de servicio, aportando valor agregado a la solución ofrecida a nuestros clientes.
                A la vez mantener intacta nuestra responsabilidad medioambiental en cada proyecto realizado.
            </p>
            </div>
        </div>
        <div class="about_us_item" data-aos="fade-up">
            <span class="about_us_item_icon_container">
                <i class="bi bi-eye about_us_item_icon"></i>
            </span>
            <div class="about_us_item_text">
                <p class="h5 " >Nuestra visión</p>
                <p class="text-justify">
                    Ser una empresa posicionada y reconocida por la calidad de nuestro producto y servicio. Consolidarnos como la mejor opción de aislamiento térmico industrial.
                </p>
            </div>
        </div>
        <div class="about_us_item" data-aos="fade-up">
            <span class="about_us_item_icon_container">
                <span class="bi bi-camera-video about_us_item_icon servicios-brindados"></span>
            </span>
            <div class="about_us_item_text">
                <p class="h5 " >Servicios brindados</p>
                <p class="text-justify">
                    En los cuales nos acomodamos a las necesidades de cada cliente, brindando soluciones como: Aislamiento térmico, acondicionamiento de locales, proyectos de llave en mano y almacenes BPA.
                </p>
            </div>
        </div>
        <div class="about_us_item" data-aos="fade-up">
            <span class="about_us_item_icon_container">
                <span class="bi bi-box-seam about_us_item_icon years-experience"></span>
            </span>
            <div class="about_us_item_text">
                <p class="h5 " >Años de experiencia</p>
                <p class="text-justify">
                    Nos respaldan, en los que hemos podido brindar tranquilidad, seguridad y confianza a todos nuestros clientes de diversas industrias de acuerdo a sus necesidades.
                </p>
            </div>
        </div>
        <div class="about_us_item" data-aos="fade-up">
            <span class="about_us_item_icon_container">
                <span class="bi bi-cash about_us_item_icon clientes-satisfechos"></span>
            </span>
            <div class="about_us_item_text">
                <p class="h5 " >Clientes satisfechos</p>
                <p class="text-justify">
                    Son muchas las historias y los clientes satisfechos en estos más de 12 años de historia al servicio del público.
                </p>
            </div>
        </div>
    </div>


