    <div class="grid-container">
        <div >
            <h4 class="display-6 bolder" >Conoce nuestra misión, visión y experiencia.</h4>
        </div>
        <div class="about_us_item">
            <span class="about_us_item_icon_container">
                <i class="bi bi-building about_us_item_icon"></i>
            </span>
            <div class="about_us_item_text">
                <p class="h5 bolder" >Nuestra misión</p>
                <p class="text-justify">
                Es actuar de manera personalizada en los sectores comerciales y de servicio, aportando valor agregado a la solución ofrecida a nuestros clientes.
                A la vez mantener intacta nuestra responsabilidad medioambiental en cada proyecto realizado.
            </p>
            </div>
        </div>
        <div class="about_us_item">
            <span class="about_us_item_icon_container">
                <i class="bi bi-cart about_us_item_icon"></i>
            </span>
            <div class="about_us_item_text">
                <p class="h5 bolder" >Nuestra visión</p>
                <p class="text-justify">
                    Ser una empresa posicionada y reconocida por la calidad de nuestro producto y servicio. Consolidarnos como la mejor opción de aislamiento térmico industrial.
                </p>
            </div>
        </div>
        <div class="about_us_item">
            <span class="about_us_item_icon_container">
                <span class="bi bi-box-seam about_us_item_icon years-experience"></span>
            </span>
            <div class="about_us_item_text">
                <p class="h5 bolder" >Años de experiencia</p>
                <p class="text-justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae sit, nulla aspernatur natus consectetur necessitatibus temporibus quaerat soluta consequatur consequuntur ab fuga doloremque.
                </p>
            </div>
        </div>
        <div class="about_us_item">
            <span class="about_us_item_icon_container">
                <i class="bi bi-cash about_us_item_icon"></i>
            </span>
            <div class="about_us_item_text">
                <p class="h5 bolder" >Clientes satisfechos</p>
                <p class="text-justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae sit, nulla aspernatur natus consectetur necessitatibus temporibus quaerat soluta consequatur consequuntur ab fuga doloremque.
                </p>
            </div>
        </div>
        <div class="about_us_item">
            <span class="about_us_item_icon_container">
                <i class="bi bi-camera-video about_us_item_icon"></i>
            </span>
            <div class="about_us_item_text">
                <p class="h5 bolder" >Nuestra misión</p>
                <p class="text-justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae sit, nulla aspernatur natus consectetur necessitatibus temporibus quaerat soluta consequatur consequuntur ab fuga doloremque.
                </p>
            </div>
        </div>
    </div>


