    <div class="grid-container">
        <div >
            <h4 class="display-6 bolder" >Un Matched Services. Unmatched Challenges</h4>
        </div>
        <div class="about_us_item">
            <span class="about_us_item_icon_container">
                <i class="bi bi-building about_us_item_icon"></i>
            </span>
            <div class="about_us_item_text">
                <p class="h5 bolder" >Nuestra misión</p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae sit, nulla aspernatur natus consectetur necessitatibus temporibus quaerat soluta consequatur consequuntur ab fuga doloremque, eaque adipisci similique numquam, error magnam fugit!
                </p>
            </div>
        </div>
        <div class="about_us_item">
            <span class="about_us_item_icon_container">
                <i class="bi bi-cart about_us_item_icon"></i>
            </span>
            <div class="about_us_item_text">
                <p class="h5 bolder" >Nuestra misión</p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae sit, nulla aspernatur natus consectetur necessitatibus temporibus quaerat soluta consequatur consequuntur ab fuga doloremque, eaque adipisci similique numquam, error magnam fugit!
                </p>
            </div>
        </div>
        <div class="about_us_item">
            <span class="about_us_item_icon_container">
                <i class="bi bi-box-seam about_us_item_icon"></i>
            </span>
            <div class="about_us_item_text">
                <p class="h5 bolder" >Nuestra misión</p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae sit, nulla aspernatur natus consectetur necessitatibus temporibus quaerat soluta consequatur consequuntur ab fuga doloremque, eaque adipisci similique numquam, error magnam fugit!
                </p>
            </div>
        </div>
        <div class="about_us_item">
            <span class="about_us_item_icon_container">
                <i class="bi bi-cash about_us_item_icon"></i>
            </span>
            <div class="about_us_item_text">
                <p class="h5 bolder" >Nuestra misión</p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae sit, nulla aspernatur natus consectetur necessitatibus temporibus quaerat soluta consequatur consequuntur ab fuga doloremque, eaque adipisci similique numquam, error magnam fugit!
                </p>
            </div>
        </div>
        <div class="about_us_item">
            <span class="about_us_item_icon_container">
                <i class="bi bi-camera-video about_us_item_icon"></i>
            </span>
            <div class="about_us_item_text">
                <p class="h5 bolder" >Nuestra misión</p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae sit, nulla aspernatur natus consectetur necessitatibus temporibus quaerat soluta consequatur consequuntur ab fuga doloremque, eaque adipisci similique numquam, error magnam fugit!
                </p>
            </div>
        </div>
    </div>


