<div>
    <!--   
    
    <section class="mt-5" id="item-1">
            <div class="container" data-aos="fade-in">
                <div class="text-center p-3">
                    <h3>  
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat suscipit nisl."
                    </h3>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center flex-column">
                        <div class="text-center p-2">
                            <img class="img-thumbnail" alt="image" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1781f8b6d5b%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1781f8b6d5b%22%3E%3Crect%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2275.5%22%20y%3D%22104.8%22%3E200x200%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
                        </div>
                        <div class="text-center p-2">
                            <a class="btn btn-secondary rounded-pill" href="#" role="button">Lorem ipsum</a>
                        </div>
                    </div>
                    <div class="col">
                        <h4>Lorem</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat suscipit nisl. Pellentesque sagittis tortor massa, eu facilisis ligula euismod quis. Cras bibendum tincidunt est nec dapibus.
                    </p>
                    <h4>Lorem</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat suscipit nisl. Pellentesque sagittis tortor massa, eu facilisis ligula euismod quis. Cras bibendum tincidunt est nec dapibus.
                    </p>
                    </div>
                </div>
            </div>
        </section>
        -->
        <!--Icons Images Section-->
        <section class="mt-5" id="item-2">
            <div class="container" data-aos="fade-in">
                <div class="text-center p-3">
                    <h3>Aislamiento Térmico</h3>
                </div>
                <div>
                    <p class="text-center">
                        Frase que jale la atencion (FALTANTE).
                    </p>
                </div>
                <div class="row mt-6">
                    <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center flex-column">
                        <div class="text-center p-2">
                            <img class="pyr-icon"  alt="image" src="assets/img/money-icon.png">
                        </div>
                        <div class="text-center p-2">
                            <h6 class="pyr-icon--text">Ahorro de costos de inversión</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center flex-column">
                        <div class="text-center p-2">
                            <img class="pyr-icon" alt="image" src="assets/img/plant-icon.png">
                        </div>
                        <div class="text-center p-2">
                            <h6 class="pyr-icon--text">Ahorro de energía</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center flex-column">
                        <div class="text-center p-2">
                            <img class="pyr-icon" alt="image" src="assets/img/hand-icon.png">
                        </div>
                        <div class="text-center p-2">
                            <h6 class="pyr-icon--text">Producto no invasivo y recuperable</h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="mt-10 question-bg">
            <div class="container" data-aos="fade-in">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center flex-column">
                        <h5 class="text-justify">¿Por qué los usuarios deberían colocar lámina térmica en sus espacios?</h5>
                        <br/>
                        <p class="text-justify">
                            Es un producto que no necesita modificar ninguna estructura para que funcione, en el verano nos una temperatura de confort y en el invierno nos protege del frío y lo mas importante no necesita energia.
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="p-2">
                            <img class="w-100 img-container-question" alt="image" src="https://dummyimage.com/wuxga">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--Square Image and Text Section-->
        <section  class="mt-10" id="item-3">

            <h3 class="section-title" data-aos="fade-in">Servicios</h3>
            <div class="section-description" data-aos="fade-in">
                <p >
                    Descripción (FALTANTE)
                </p>
            </div>

            <div class="mt-5 py-3 pyr_section" data-aos="fade-in">
                <%- include('../proyectos/proyecto') %>    
                <%- include('../proyectos/modals') %>
            </div>

        </section>

        <!--Clients-->
        <section class="my-10" id="item-4">
            <div class="container" data-aos="fade-in">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 px-5">
                        <h4 style="margin: 0 0">Clientes</h4>
                    </br>
                        <p style="text-align:justify" >
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat suscipit nisl. Pellentesque sagittis tortor massa, eu facilisis ligula euismod quis. Cras bibendum tincidunt est nec dapibus.
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 align-self-center">
                        <div class="row">
                            <div class="col">
                                <div class="p-2">
                                <img class="w-100" alt="image" src="https://dummyimage.com/wuxga">
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-2">
                                <img class="w-100" alt="image" src="https://dummyimage.com/wuxga">
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-2">
                                <img class="w-100" alt="image" src="https://dummyimage.com/wuxga">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="p-2">
                                <img class="w-100" alt="image" src="https://dummyimage.com/wuxga">
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-2">
                                <img class="w-100" alt="image" src="https://dummyimage.com/wuxga">
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-2">
                                <img class="w-100" alt="image" src="https://dummyimage.com/wuxga">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="p-2">
                                <img class="w-100" alt="image" src="https://dummyimage.com/wuxga">
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-2">
                                <img class="w-100" alt="image" src="https://dummyimage.com/wuxga">
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-2">
                                <img class="w-100" alt="image" src="https://dummyimage.com/wuxga">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="mt-10 mb-5">
            <%- include('../descripcion/frase') %>
        </section>
        <!--CONTACT FORM-->
        <section class="contact_us_section pyr_section" id="item-5">    
            <%- include('../contact_us/contact_us') %>
        </section>
                <!--CONTACT FORM-->
        

        
    
</div>