<div class="m-carousel">
    <div class="m-carousel-item material-shadow-2"  >
        <img src="/assets/img/servicios/aislamiento_termico.jpg" width="100%" height="auto" alt="">

    </div>
    <div class="m-carousel-item material-shadow-2" >
        <img src="/assets/img/servicios/aislamiento_termico.jpg" width="100%" height="auto" alt="">

    </div>
    <div class="m-carousel-item material-shadow-2"  >
        <img src="/assets/img/servicios/proyectos_llave_en_mano.jpg" width="100%" height="auto" alt="">

    </div>
    <div class="m-carousel-item material-shadow-2"   >
        <img src="/assets/img/servicios/aislamiento_termico.jpg" width="100%" height="auto" alt="">
    </div>
    <div class="m-carousel-item material-shadow-2"   >
        <img src="/assets/img/servicios/acondicionamiento_de_locales.jpg" width="100%" height="auto" alt="">

    </div>
  </div>