<div class="m-carousel">
    <div class="m-carousel-item material-shadow-2">
        <img class="h-100" src="assets/img/porque_lamina/Lámina térmica.webp" width="100%" alt="" style="object-fit: cover;">
    </div>
    <div class="m-carousel-item material-shadow-2">
        <img class="h-100" src="assets/img/porque_lamina/Lámina térmica 1.webp" width="100%" alt="" style="object-fit: cover;">
    </div>
    <div class="m-carousel-item material-shadow-2">
        <img class="h-100" src="assets/img/porque_lamina/Lámina térmica 3.webp" width="100%" alt="" style="object-fit: cover;">
    </div>
    <div class="m-carousel-item material-shadow-2">
        <img class="h-100" src="assets/img/porque_lamina/Lámina térmica 4.webp" width="100%" alt="" style="object-fit: cover;">
    </div>
    <div class="m-carousel-item material-shadow-2">
        <img class="h-100" src="assets/img/porque_lamina/Lámina térmica 5.webp" width="100%" alt="" style="object-fit: cover;">
    </div>
</div>