<div class="m-carousel">
    <div class="m-carousel-item material-shadow-2">
        <img class="h-100" src="assets/img/porque_lamina/foto1.png" width="100%" alt="" style="object-fit: cover;">
    </div>
    <div class="m-carousel-item material-shadow-2">
        <img class="h-100" src="assets/img/porque_lamina/foto2.png" width="100%" alt="" style="object-fit: cover;">
    </div>
    <div class="m-carousel-item material-shadow-2">
        <img class="h-100" src="assets/img/porque_lamina/foto3.png" width="100%" alt="" style="object-fit: cover;">
    </div>
    <div class="m-carousel-item material-shadow-2">
        <img class="h-100" src="assets/img/porque_lamina/foto4.png" width="100%" alt="" style="object-fit: cover;">
    </div>
</div>