<div class="modal modal-case" modal-ref="use-case-bpa" style="height:450px">
    <div style="display:flex;justify-content:center;height:100%" >
        <div style="flex:1 0 45%">
            <img class="img-container-modal"alt="image"
                src="assets/img/casos de exito/almacenes_bpa.jpg">
        </div>
        <div class="modal-content">
            <h5 style=" text-align:center;color:#222A4B;">Proyecto acondicionamiento de almacén BPA</h5>
            <ul class="usecase-list"  >
                    <li>
                        Objetivos
                    </li>
                    <div>
                        Mantener temperatura entre 25°C y 29°C.
                    </div>
                    <li>
                        Fecha de ejecución 
                    </li>
                    <div>
                        Febrero 2021
                    </div>
                    <li >
                        Lugar de ejecución:
                        <span class="content">
                            Callao
                        </span>
                    </li>
                    <li>
                        Área (m2):
                        <span class="content">
                            2460 M2
                        </span>
                    </li>
                    
                    <li>
                        Cliente:
                        <span class="content">
                            Ransa
                        </span>
                    </li>
                    
                    <li >
                        Tipo de cliente:
                        <span class="content">
                            Logistica
                        </span>
                        
                    </li>
                   
                </ul>
                <p class="font-italic" style="font-size:1.1rem">
                    "Se logró mantener una temperatura entre 25°C y 28° con un
                    excelente ahorro de energía."
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-case" modal-ref="use-case-logistic" style="height:450px">
    <div style="display:flex;justify-content:center;height:100%" >
        <div style="flex:1 0 45%">
            <img class="img-container-modal"alt="image"
                src="assets/img/casos de exito/KPLOGISTIC.jpeg">
        </div>
        <div class="modal-content">
            <h5 style=" text-align:center;color:#222A4B;">Proyecto Aislamiento Térmico</h5>
            <ul class="usecase-list"  >
                    <li>
                        Objetivos
                    </li>
                    <div>
                        Mantener temperatura baja.
                    </div>
                    <li>
                        Fecha de ejecución 
                    </li>
                    <div>
                        Diciembre 2019
                    </div>
                    <li >
                        Lugar de ejecución:
                        <span class="content">
                            Almacenes BSF
                        </span>
                    </li>
                    <li>
                        Área (m2):
                        <span class="content">
                            2000 m2
                        </span>
                    </li>
                    
                    <li>
                        Cliente:
                        <span class="content">
                            KP Logistic
                        </span>
                    </li>
                    
                    <li >
                        Tipo de cliente:
                        <span class="content">
                            Logistica Farmaceutica
                        </span>
                        
                    </li>
                   
                </ul>
                <p class="font-italic" style="font-size:1.1rem">
                    "Ahorro de energía y tipo de acabado en paredes"
                </p>
            </div>
    </div>
</div>
<div class="modal modal-case" modal-ref="use-case-q-suiza" style="height:450px">
    <div style="display:flex;justify-content:center;height:100%" >
        <div style="flex:1 0 45%">
            <img class="img-container-modal"alt="image"
                src="assets/img/casos de exito/quimica.jpeg">
        </div>
        <div class="modal-content">
            <h5 style=" text-align:center;color:#222A4B;">Proyecto cambio de cobertura y aislamiento térmico</h5>
            <ul class="usecase-list"  >
                    <li>
                        Objetivos
                    </li>
                    <div>
                        Temperatura con ahorro de energía.
                    </div>
                    <li>
                        Fecha de ejecución 
                    </li>
                    <div>
                        Mayo 2021
                    </div>
                    <li >
                        Lugar de ejecución:
                        <span class="content">
                            Chiclayo 
                        </span>
                    </li>
                    <li>
                        Área (m2):
                        <span class="content">
                            890 m2
                        </span>
                    </li>
                    
                    <li>
                        Cliente:
                        <span class="content">
                            Quimica Suiza
                        </span>
                    </li>
                    
                    <li >
                        Tipo de cliente:
                        <span class="content">
                            Almacén BPA
                        </span>
                        
                    </li>
                   
                </ul>
                <p class="font-italic" style="font-size:1.1rem">
                    "Logramos hermeticidad y control de temperatura,con ahorro de energía"
                </p>
            </div>
    </div>
</div>
<div class="modal modal-case" modal-ref="use-case-usil" style="height:450px">
    <div style="display:flex;justify-content:center;height:100%" >
        <div style="flex:1 0 45%">
            <img class="img-container-modal"alt="image"
                src="assets/img/casos de exito/usil.jpg">
        </div>
        <div class="modal-content">
            <h5 style=" text-align:center;color:#222A4B;">Proyecto cambio de cobertura y aislamiento térmico</h5>
            <ul class="usecase-list"  >
                    <li>
                        Objetivos
                    </li>
                    <div>
                        Reducir temperatura
                    </div>
                    <li>
                        Fecha de ejecución 
                    </li>
                    <div>
                        Febrero 2013
                    </div>
                    <li >
                        Lugar de ejecución:
                        <span class="content">
                            Campus 1
                        </span>
                    </li>
                    <li>
                        Área (m2):
                        <span class="content">
                            680 m2
                        </span>
                    </li>
                    
                    <li>
                        Cliente:
                        <span class="content">
                            Universidad San Ignacio de Loyola
                        </span>
                    </li>
                    
                    <li >
                        Tipo de cliente:
                        <span class="content">
                            Universidad
                        </span>
                        
                    </li>
                   
                </ul>
                <p class="font-italic" style="font-size:1.1rem">
                    "Control de temperatura óptimo y reducción de uso de energía"
                </p>
            </div>
    </div>
</div>