
<ul class="nav nav-tabs casos-de-exito" style="width:68vw;margin: 0 auto;justify-content:center" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="ransa-tab" data-bs-toggle="tab" data-bs-target="#ransa" type="button" role="tab" aria-controls="ransa" aria-selected="true">Ransa</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="kp-tab" data-bs-toggle="tab" data-bs-target="#kp" type="button" role="tab" aria-controls="kp" aria-selected="false">KP Logistic</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="q-suiza-tab" data-bs-toggle="tab" data-bs-target="#q-suiza" type="button" role="tab" aria-controls="q-suiza" aria-selected="false">Química Suiza</button>
  </li>
  <!--
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="faber-castell-tab" data-bs-toggle="tab" data-bs-target="#faber-castell" type="button" role="tab" aria-controls="faber-castell" aria-selected="false">Faber Castell</button>
  </li>
  -->
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="usil-tab" data-bs-toggle="tab" data-bs-target="#usil" type="button" role="tab" aria-controls="usil" aria-selected="false">USIL</button>
  </li>
</ul>

<div class="tab-content mt-4">
  <div class="tab-pane active" id="ransa" role="tabpanel" aria-labelledby="ransa-tab">
    <div class="container">
      <div style="display:flex;justify-content:center">
              <div style="flex:1 1 70%">
                  <img class="w-100 img-container-question" alt="image"
                      src="assets/img/casos de exito/almacenes_bpa.jpg">
              </div>
            <div id="ransa-use-case" class="use-cases-info-container" >
              <div class="use-cases-panel p-4">
                  <div class="active">
                    <h5>Proyecto Acondicionamiento de almacén BPA</h5>
                    <div class="mb-2">
                      Objetivos: Mantener temperatura entre 25°C y 29°C.
                    </div>
                    <div class="mb-2">
                      Fecha de ejecución: Febrero 2021
                    </div>
                    <div class="mb-2">
                      Lugar de ejecución: Callao
                    </div>
                  </div>
                  <div>
                    <h5>Proyecto Acondicionamiento de almacén BPA</h5>
                    <div class="mb-2">
                      Área (m2):2460 M2
                    </div>
                    <div class="mb-2">
                      Cliente:Ransa
                    </div>
                    <div class="mb-2">
                      Tipo de cliente: Logistica
                    </div>
                  </div>
                  <div>
                    <h5>Proyecto Acondicionamiento de almacén BPA</h5>
                    <div class="mb-2">
                      Conclusiones: se logró mantener una Temperatura entre 25°C y 28° con un
                      excelente ahorro de energía.  
                    </div>
                  </div>    
            </div>
            </div>

      </div>
  </div>
  </div>
  <div class="tab-pane" id="kp" role="tabpanel" aria-labelledby="kp-tab">
    <div class="container">
      <div style="display:flex;justify-content:center">
        <div style="flex:1 1 70%">
            <img class="w-100 img-container-question" alt="image"
                src="assets/img/casos de exito/KPLOGISTIC.jpeg">
        </div>
      <div id="kp-use-case" class="use-cases-info-container" >
        <div class="use-cases-panel p-4">
            <div class="active">
              <h5>Proyecto Aislamiento Térmico</h5>
              <div class="mb-2">
                Objetivos: Mantener temperatura baja.
              </div>
              <div class="mb-2">
                Fecha de ejecución: Diciembre 2019
              </div>
              <div class="mb-2">
                Lugar de ejecución: Almacenes BSF
              </div>
            </div>
            <div>
              <h5>Proyecto Aislamiento Térmico</h5>
              <div class="mb-2">
                Área (m2): 2000 m2
              </div>
              <div class="mb-2">
                Cliente: KP Logistic
              </div>
              <div class="mb-2">
                Tipo de cliente: Logistica Farmaceutica
              </div>
            </div>
            <div>
              <h5>Proyecto Aislamiento Térmico</h5>
              <div class="mb-2">
                Conclusiones: Ahorro de energía y tipo de acabado en paredes.
              </div>
            </div>    
        </div>
      </div>
</div>
  </div>
  </div>
  <div class="tab-pane" id="q-suiza" role="tabpanel" aria-labelledby="q-suiza-tab">
    <div class="container">
      <div style="display:flex;justify-content:center">
        <div style="flex:1 1 70%">
            <img class="w-100 img-container-question" alt="image"
                src="assets/img/casos de exito/quimica.jpeg">
        </div>
      <div id="q-suiza-use-case" class="use-cases-info-container" >
        <div class="use-cases-panel p-4">
            <div class="active">
              <h5>Proyecto Cambio de cobertura y aislamiento térmico</h5>
              <div class="mb-2">
                Objetivos: Temperatura con ahorro de energía.
              </div>
              <div class="mb-2">
                Fecha de ejecución: Mayo 2021
              </div>
              <div class="mb-2">
                Lugar de ejecución: Chiclayo              
              </div>
            </div>
            <div>
              <h5>Proyecto Cambio de cobertura y aislamiento térmico</h5>
              <div class="mb-2">
                Área (m2): 890 m2
              </div>
              <div class="mb-2">
                Cliente: Quimica Suiza
              </div>
              <div class="mb-2">
                Tipo de cliente: Almacén BPA
              </div>
            </div>
            <div>
              <h5>Proyecto Cambio de cobertura y aislamiento térmico</h5>
              <div class="mb-2">
                Conclusiones: Logramos hermeticidad y control de temperatura,con ahorro de energía.
              </div>
            </div>    
        </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--
  <div class="tab-pane" id="faber-castell" role="tabpanel" aria-labelledby="faber-castell-tab">
    <div class="container">
      <div style="display:flex;justify-content:center">
        <div style="flex:1 1 70%">
            <img class="w-100 img-container-question" alt="image"
                src="assets/img/casos de exito/faberCastell.jpg">
        </div>
      <div id="faber-castell-use-case" class="use-cases-info-container" >
        <div class="use-cases-panel p-4">
            <div class="active">
              <h5>Proyecto Aislamiento de Nave de producción</h5>
              <div class="mb-2">
                Objetivos: Control de temperatura
              </div>
              <div class="mb-2">
                Fecha de ejecución: Septiembre 2016
              </div>
              <div class="mb-2">
                Lugar de ejecución: Santa Anita              
              </div>
            </div>
            <div>
              <h5>Proyecto Aislamiento de Nave de producción</h5>
              <div class="mb-2">
                Área (m2): 850 m2
              </div>
              <div class="mb-2">
                Cliente: Faber Castell
              </div>
              <div class="mb-2">
                Tipo de cliente: Fábrica
              </div>
            </div>
            <div>
              <h5>Proyecto Aislamiento de Nave de producción</h5>
              <div class="mb-2">
                Conclusiones: Control de temperatura Confort.
              </div>
            </div>    
        </div>
        </div>
      </div>
  </div>
  </div>
-->

  <div class="tab-pane" id="usil" role="tabpanel" aria-labelledby="usil-tab">
      <div class="container">
        <div style="display:flex;justify-content:center">
          <div style="flex:1 1 70%">
              <img class="w-100 img-container-question" alt="image"
                  src="assets/img/casos de exito/usil.jpg">
          </div>
        <div id="usil-use-case" class="use-cases-info-container" >
          <div class="use-cases-panel p-4">
              <div class="active">
                <h5>Proyecto Cambio de cobertura y aislamiento térmico</h5>
                <div class="mb-2">
                  Objetivos: Reducir Temperatura
                </div>
                <div class="mb-2">
                  Fecha de ejecución: Febrero 2013
                </div>
                <div class="mb-2">
                  Lugar de ejecución: Campus 1                
                </div>
              </div>
              <div>
                <h5>Proyecto Cambio de cobertura y aislamiento térmico</h5>
                <div class="mb-2">
                  Área (m2): 680 m2
                </div>
                <div class="mb-2">
                  Cliente: Universidad San Ignacio de Loyola
                </div>
                <div class="mb-2">
                  Tipo de cliente: Universidad
                </div>
              </div>
              <div>
                <h5>Proyecto Cambio de cobertura y aislamiento térmico</h5>
                <div class="mb-2">
                  Conclusiones: Control de Temperatura óptimo y reducción de uso de energía.
                </div>
              </div>    
          </div>
          </div>
        </div>
    </div>
  </div>
</div>
