


<div class="splide splide-ourwork" style="width:85%;margin: 0 auto;"  >
	<div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide" style="padding:10px">
                <div class="card  white use-case-card small-zoom"  ref="use-case-bpa2" >
                    <div class="card-image">
                        <img  class="w-100 " src="assets/img/casos de exito/almacenes_bpa.jpg" alt="almacenes_bpa caso de éxito">
                    </div>
                    <div class="card-content black-text">
                      <span class="card-title"  >Proyecto acondicionamiento de almacén BPA</span>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Cliente
                        </div>
                        <div>
                            Ransa
                        </div>
                        
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Objetivos
                        </div>
                        <div>
                            Mantener temperatura entre 25°C y 29°C.
                        </div>
                        
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Fecha de ejecución
                        </div>
                        <div>
                            Febrero 2021
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Lugar de ejecución
                        </div>
                        <div>
                            Callao
                        </div>
                      </div>
                    </div>
                </div>
            </li>
			<li class="splide__slide" style="padding:10px">
                <div class="card white use-case-card small-zoom"  ref="use-case-logistic2">
                    <div class="card-image">
                        <img src="assets/img/casos de exito/KPLOGISTIC.png" alt="almacenes_kplogic caso de éxito">
                    </div>
                    <div class="card-content " style="color:black">
                      <span class="card-title">Proyecto Aislamiento Térmico</span>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Cliente
                        </div>
                        <div>
                            Logistica Farmaceutica
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Objetivos
                        </div>
                        <div>
                            Mantener temperatura baja.
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Fecha de ejecución
                        </div>
                        <div>
                            Diciembre 2019
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Lugar de ejecución
                        </div>
                        <div>
                            Almacenes BSF
                        </div>
                      </div>
                    </div>
                </div>
            </li>
			<li class="splide__slide" style="padding:10px">
                <div class="card white use-case-card small-zoom"  ref="use-case-q-suiza2">
                    <div class="card-image">
                        <img src="assets/img/casos de exito/quimica.jpeg" alt="quimica suizacaso de éxito">
                    </div>
                    <div class="card-content " style="color:black">
                      <span class="card-title">Proyecto cambio de cobertura y aislamiento térmico</span>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Cliente
                        </div>
                        <div>
                            Quimica Suiza
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Objetivos
                        </div>
                        <div>
                            Temperatura con ahorro de energía.
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Fecha de ejecución
                        </div>
                        <div>
                            Mayo 2021
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Lugar de ejecución
                        </div>
                        <div>
                            Chiclayo
                        </div>
                      </div>
                    </div>
                </div>
            </li>
            <li class="splide__slide" style="padding:10px">
                <div class="card white use-case-card small-zoom" ref="use-case-usil2">
                    <div class="card-image">
                        <img src="assets/img/casos de exito/usil.png" alt="quimica suizacaso de éxito">
                    </div>
                    <div class="card-content " style="color:black">
                      <span class="card-title">Proyecto cambio de cobertura y aislamiento térmico</span>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Cliente
                        </div>
                        <div>
                            Universidad San Ignacio de Loyola
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Objetivos
                        </div>
                        <div>
                            Reducir temperatura
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Fecha de ejecución
                        </div>
                        <div>
                            Febrero 2013
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Lugar de ejecución
                        </div>
                        <div>
                            Campus 1
                        </div>
                      </div>
                    </div>
                </div>
            </li>
            <li class="splide__slide" style="padding:10px">
                <div class="card white use-case-card small-zoom" ref="use-case-usil2">
                    <div class="card-image">
                        <img src="assets/img/casos de exito/AISLAMIENTO_TERMICO.png" alt="quimica suizacaso de éxito">
                    </div>
                    <div class="card-content " style="color:black">
                      <span class="card-title">Controlar la temperatura y acondicionamiento de almacén</span>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Cliente
                        </div>
                        <div>
                            KP LOGISTIC
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Objetivos
                        </div>
                        <div>
                            Controlar la temperatura y acondicionamiento de almacén
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Fecha de ejecución
                        </div>
                        <div>
                            2021
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Lugar de ejecución
                        </div>
                        <div>
                            Punta hermosa
                        </div>
                      </div>
                    </div>
                </div>
            </li>
            
            <li class="splide__slide" style="padding:10px">
                <div class="card white use-case-card small-zoom" ref="use-case-kp">
                    <div class="card-image">
                        <img src="assets/img/casos de exito/foto para web-01.png" alt="kp caso de éxito">
                    </div>
                    <div class="card-content " style="color:black">
                      <span class="card-title">Acondicionamiento de laboratorio de análisis</span>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Cliente
                        </div>
                        <div>
                            NSF
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Objetivos
                        </div>
                        <div>
                            Acondicionamiento de laboratorio de análisis
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Fecha de ejecución
                        </div>
                        <div>
                            2019
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Lugar de ejecución
                        </div>
                        <div>
                            San Isidro
                        </div>
                      </div>
                    </div>
                </div>
            </li>

            <li class="splide__slide" style="padding:10px">
                <div class="card white use-case-card small-zoom" ref="use-case-kp2">
                    <div class="card-image">
                        <img src="assets/img/casos de exito/foto para web-04.png" alt="kp2 caso de éxito">
                    </div>
                    <div class="card-content " style="color:black">
                      <span class="card-title">Acondicionamiento de Laboratorio de análisis</span>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Cliente
                        </div>
                        <div>
                            NSF
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Objetivos
                        </div>
                        <div>
                            Acondicionamiento de laboratorio de análisis
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Fecha de ejecución
                        </div>
                        <div>
                            2018
                        </div>
                      </div>
                      <div class="mb-2">
                        <div style="font-weight: 600;font-size: 1.1rem;color:var(--alter-color);">
                            Lugar de ejecución
                        </div>
                        <div>
                            San Miguel
                        </div>
                      </div>
                    </div>
                </div>
            </li>
		</ul>
	</div>
</div>
