<div id="carouselProjectImages" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselProjectImages" data-slide-to="0" class="active"></li>
    <li data-target="#carouselProjectImages" data-slide-to="1"></li>
    <li data-target="#carouselProjectImages" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item carousel-item2 carousel-item-one-mobile active" style="position:relative">
      <img class="d-block w-100" src="assets/img/carrousel/aislamiento_termico_2.png" alt="First slide">
      <div class="carousel-info" >
        <h1 class="carousel-title" >AISLAMIENTO TÉRMICO</h1>
        <h4 class="carousel-subtitle"  >Industrias - Comercio - Vivienda</h4>
        <a onClick="document.getElementById('item-2').scrollIntoView({ behavior: 'smooth', block: 'center' });" class="carousel-button"><span>Ver más </span></a>
      </div>
    </div>
    <div class="carousel-item carousel-item2">
      <img class="d-block w-100" src="assets/img/carrousel/acondicionamiento.jpg" alt="Second slide">
      <div class="carousel-info">
        <h1 class="carousel-title">ACONDICIONAMIENTO</h1>
        <h4 class="carousel-subtitle">Espacios en general</h4>
        <a onClick="document.getElementById('item-3').scrollIntoView({ behavior: 'smooth', block: 'center' });" class="carousel-button"><span>Ver más </span></a>
      </div>
    </div>
    <div class="carousel-item carousel-item2">
      <img class="d-block w-100" src="assets/img/carrousel/proyecto_integral.jpg" alt="Third slide">
      <div class="carousel-info">
        <h1 class="carousel-title">PROYECTO INTEGRAL</h1>
        <h4 class="carousel-subtitle">Compromiso, liderazgo y participación activa</h4>
        <a onClick="document.getElementById('item-3').scrollIntoView({ behavior: 'smooth', block: 'center' });" class="carousel-button"><span>Ver más </span></a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselProjectImages" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon header" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselProjectImages" role="button" data-slide="next">
    <span class="carousel-control-next-icon header" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<style>
  .carousel-title{
    font-size: 2.1rem;
    font-weight: 600;
  }
  .carousel-subtitle{
    margin: 19px 0px;
    font-size: 1.1rem;
    font-weight: 300;
  }
  .carousel-button {
    font-weight: 300;
    z-index: 40;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--alter-color);
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    padding: 4px;
    width: 13rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px 0px;
  }
  
  .carousel-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .carousel-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .carousel-button:hover span {
    padding-right: 25px;
    color: white;
  }
  
  .carousel-button:hover span:after {
    opacity: 1;
    right: 0;
  }
  </style>