<nav id="pyr_navbar" 
class="navbar navbar-expand-lg position-absolute top-0 navbar-light custom-navbar">
  <a class="navbar-logo" rel="canonical" href="#">
    <div class="logo-containter" style="margin-left: 0rem;">
      <img src="assets/img/logo_header_2.png" alt="logo" class="logo_header">
    </div>
  </a>
    <button id="custom-menu-button" class="navbar-toggler" type="button" 
    style="margin-top:-10px; z-index: 2;background-color: rgba(255,255,255,.85);"  data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="my-1 mx-2 close" style="color: var(--alter-color);">X</span>
    </button>
    <div class="collapse-mobile-navbar-menu collapse navbar-collapse" id="navbarNav" >
      <ul class="navbar-nav ml-auto" style="background-color: rgba(25, 38, 75)">
        <li class="nav-item">
          <a class="nav-link-mobile navbar-custom-links nav-link" href="#conocenos"
          style="color: white !important;">Conócenos<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link-mobile navbar-custom-links nav-link" href="#item-2"
          style="color: white !important;">Aislamiento Térmico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-mobile navbar-custom-links nav-link" href="#item-3"
          style="color: white !important;">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-mobile navbar-custom-links nav-link" href="#item-4"
          style="color: white !important;">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-mobile navbar-custom-links nav-link" href="#item-5"
          style="color: white !important;">Contáctanos</a>
        </li>
      </ul>
    </div>
  </nav>