<nav id="pyr_navbar" class="navbar navbar-expand-lg position-absolute top-0 navbar-light bg-white">
  <a class="navbar-logo" rel="canonical" href="#">
    <div class="logo-containter">
      <img src="assets/img/logo_header.svg" alt="logo" class="logo_header">
    </div>
  </a>
    <button id="custom-menu-button" class="navbar-toggler" type="button" style="margin-top:-10px; z-index: 2;"  data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="my-1 mx-2 close" style="color: var(--alter-color);">X</span>
    </button>
    <div class="collapse-mobile-navbar-menu collapse navbar-collapse" id="navbarNav" >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link-mobile navbar-custom-links nav-link" href="#conocenos">Conócenos<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link-mobile navbar-custom-links nav-link" href="#item-2">Aislamiento Térmico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-mobile navbar-custom-links nav-link" href="#item-3">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-mobile navbar-custom-links nav-link" href="#item-4">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-mobile navbar-custom-links nav-link" href="#item-5">Contáctanos</a>
        </li>
      </ul>
    </div>
  </nav>