<nav id="pyr_navbar" class="navbar navbar-expand-lg position-absolute top-0 navbar-light bg-white">
  <a class="navbar-logo" rel="canonical" href="#">
    <div class="logo-containter">
      <img src="assets/img/logo_header.svg" alt="logo" class="logo_header">
    </div>
  </a>
    <button class="navbar-toggler" style="margin-top:-10px" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="margin-top:-20px">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="navbar-custom-links nav-link" href="#conocenos">Conócenos<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="navbar-custom-links nav-link" href="#item-2">Aislamiento Térmico</a>
        </li>
        <li class="nav-item">
          <a class="navbar-custom-links nav-link" href="#item-3">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="navbar-custom-links nav-link" href="#item-4">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="navbar-custom-links nav-link" href="#item-5">Contáctanos</a>
        </li>
      </ul>
    </div>
  </nav>