<!-- Footer -->
<footer class="text-lg-start">
   <!-- Grid container -->
 <div class="container p-4 pb-0" >
  <!-- Section: Social media -->
  <section class="mb-4" style="text-align: center;">
    <div style="
    position: relative;
    height: 0rem;
">
    <img src="assets/img/footer/logo_letters_white.svg" style="
    top: -3.5rem;
    left: 43.5%;
    position: absolute;
    height: 10rem;
">
  </div>
  
  </section>
  <!-- Section: Social media -->
</div>
<hr style="
    /* position: absolute; */
    /* color: white; */
    border-top: 1px solid rgba(255,255,255,.1);
    top: 6rem;
    width: 96%;
">

  <!-- Grid container -->
  <div class="p-4" style="padding-bottom: 0px !important;padding-top: 2px !important;">



    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contacto</h5>
        <p>
          <i class="bi bi-geo-alt"></i>
          Calle Loma Blanca 210 prol. Benavides 
          <br>
          <i class="bi bi-geo-alt" style="color: transparent;"></i><strong> Surco, Lima, Perú</strong>
        </p>
        <p>
          <i class="bi bi-telephone"></i>
          +51 998-397-221
        </p>
        <p>
          <i class="bi bi-envelope"></i> 
           <a target="_blank" href="mailto:ventas@pyrservicios.com"> ventas@pyrservicios.com </a>
        </p>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Sobre la compañia</h5>

        <p>
          Desarrollamos proyectos integrales de diseño y arquitectura trabajando con gran dinamismo, creatividad y velocidad de respuesta. Contribuyendo con el crecimiento comercial frente a un mercado en constante cambio.
        </p>
        <div class="social-networks-container">
          <ul class="social-networks">
            <li>
              <a target="_blank" href="https://www.facebook.com/PyRworldservices" class="text-dark"><i class="bi bi-facebook color-pyr-secondary"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://www.instagram.com/pyrworldservices/?hl=es-la" class="text-dark"><i class="bi bi-instagram color-pyr-secondary"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://www.linkedin.com/company/p-r-world-services-sac/?originalSubdomain=pe" class="text-dark "><i class="bi bi-linkedin color-pyr-secondary"></i></a>
            </li>
          </ul>
          
      </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->


  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a style="text-decoration:none" href="https://pyrsevicios.com/">PYRSERVICIOS.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<style>
.rect-img-container {
  position: relative;
  width: 100%;
  height: 7rem;
}

.rect-img {
  position: absolute;
    /* width: 100%; */
    height: 14rem;
    object-fit: cover;
    top: -63px;
    right: 44%;
    left: 44%;
}
</style>