<!-- Grid container -->
<div class="p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-10 col-md-12 mb-4 mb-md-0 text-lg-left text-center">
        <h5 class="w-50 text-uppercase mb-0">Nuestras Redes Sociales</h5>
        <br/>
        <p class="w-25">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat suscipit nisl.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat suscipit nisl.
        </p>
        <p class="w-25">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat suscipit nisl.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
        <div class="align-items-end d-flex h-100 justify-content-between justify-content-sm-around w-100">
            <div class="square-secondary">

            </div>
            <div class="square-secondary">

            </div>
            <div class="square-secondary">

            </div>
            <div class="square-secondary">

            </div>
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 bg-dark">
    © 2021 Copyright:
    <a class="text-light" href="">pryservicios.com</a>
  </div>
  <!-- Copyright -->