.square-secondary {
  background-color: var(--bg-color-grey);
  width: 2rem;
  height: 2rem;
}
.mt-10,
.my-10 {
  margin-top: 10rem !important;
}
.mt-9 {
  margin-top: 9rem !important;
}
.mt-8 {
  margin-top: 8rem !important;
}
.mt-7 {
  margin-top: 7rem !important;
}
.mt-6 {
  margin-top: 6rem !important;
}
.mb-10,
.my-10 {
  margin-bottom: 10rem !important;
}
.benefits-icons-size {
  font-size: 3rem;
}

.social-networks {
  display: inline;
}
.social-networks li {
  display: inline;
  margin-right: 1rem;
}
.social-networks li i {
  font-size: 1.5rem;
}

.logo-containter {
  width: 8.5rem;
  margin-left: 0.5rem;
}

.body-font {
  font-family: "Barlow", sans-serif !important;
}
body {
  font-family: "Barlow", sans-serif !important;
  background-color: var(--bg-color-grey) !important;
}
.testimonial-footer-bg {
  background-color: white;
}

.img-container-question {
}
.question-bg {
  padding: 40px 0px;
  background-color: var(--primary-color);
  color: white;
  z-index: -2;
}

.gray-section {
  background-color: #e3e3e3;
  padding: 40px 0px;
}
.navbar-custom-links {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: var(--primary-color) !important;
}

.navbar-custom-links:hover {
  background-color: var(--alter-color) !important;
  color: white !important;
}

.casos-de-exito button {
  color: var(--primary-color) !important;
}

.casos-de-exito button:hover {
  background-color: var(--alter-color) !important;
  color: white !important;
}
.casos-de-exito .active {
  background-color: var(--alter-color) !important;
  color: white !important;
}

.years-experience:before {
  content: "12" !important;
  font-family: "Barlow", sans-serif !important;
  font-weight: 400 !important;
}
.clientes-satisfechos:before {
  content: "+30" !important;
  font-family: "Barlow", sans-serif !important;
  font-weight: 400 !important;
}

.servicios-brindados:before {
  content: "4" !important;
  font-family: "Barlow", sans-serif !important;
  font-weight: 400 !important;
}

.carrousel-title {
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 3px 3px 3px var(--primary-color);
}

.carrousel-description {
  font-weight: 300;
  text-shadow: 3px 3px 3px var(--primary-color);
}

.splide-clients .splide__pagination__page {
  background: var(--alter-color);
}
.splide-clients .splide__pagination__page.is-active {
  background: var(--alter-color);
  opacity: 0.9;
}

/* Estilo del botón flotante */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366; /* Color verde de WhatsApp */
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
  padding-top: 14px;
}

/* Estilo del ícono de WhatsApp */
.whatsapp-button i {
  font-size: 42px;
  color: white; /* Color del ícono */
}

/* Estilo del mensaje */
.whatsapp-message {
  /*
  position: fixed;
  bottom: 70px;
  right: 90px;
  background-color: #25d366;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 998;*/

  position: fixed;
  bottom: 37px;
  right: 100px;
  background-color: rgba(227, 227, 227, 1);
  color: rgba(25, 38, 75, 1);
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(227, 227, 227, 0.1);
  z-index: 998;
}

.phone-color {
  color: var(--primary-color);
}

/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
  .carousel-item-mobile img {
    object-position: left; /* Ajusta la posición a la derecha */
  }
  .carousel-item2 {
    height: 30rem !important;
  }
  .carousel-item2 img {
    min-height: 30rem !important;
  }
  .custom-navbar {
    padding-top: 0px;
  }

  .services-section {
    height: 114rem;
  }
}

@media (max-width: 500px) {
  .services-section {
    height: 196rem;
  }
  .logo_header {
    width: 140% !important;
  }
}

.custom-navbar {
  padding-left: 0px;
  background-color: rgba(25, 38, 75) !important;
}
.clients .splide__pagination{
  display: none;
}