<form>
    <div class="form-group">
      <label for="contact_name">Nombre</label>
      <input type="text" class="form-control" id="contact_name" aria-describedby="nameHelp" placeholder="Ingresa tu nombre">
      <small id="contact_name_help" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="contact_email">Email</label>
        <input type="email" class="form-control" id="contact_email" aria-describedby="emailHelp" placeholder="Ingresa tu email">
        <small id="contact_email_help" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="contact_cel">Teléfono</label>
        <input type="text" class="form-control" id="contact_cel" aria-describedby="celHelp" placeholder="Ingresa tu numero de cel (Opcional)">
        <small id="contact_cel_help" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="contact_msg">Descripción</label>
        <textarea class="form-control" id="contact_msg" rows="3" ></textarea>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg"   >Submit</button>
      </div>
   
  </form>