
<div class="center-align">
  <h3 style="position:relative;left:10px;color: var(--primary-color) !important;">Testimonios</h3>
  <div id="CommentsCarousel" class="carousel center-block slide" data-ride="carousel" style="max-width:500px">

    <div class="carousel-inner">
      
      <div class="carousel-item active">
          <div class="card testimonial">
            <div class="card-body testimonial" >
              <div class="customer-avatar">
                <img src="assets/img/testimonios/ssomac.jpg" 
                alt="testimonial_1" class="avatar" style="width: auto;">

              </div>
              <div>
              <p class="card-text">En base a esa experiencias sólo tengo palabras de excelencia a vuestra labor realizada y que estoy seguro replicará en diferentes Organizaciones cuyo soporte es fundamental en el control de riesgos y en la búsqueda de alternativas de múltiples beneficios no solo a la salud del trabajador sino al medio ambiente con resultados óptimos y comprobados.</p>
              <img src="assets/img/testimonios/Miguel Egusquiza.jfif" alt="testimonial_1" class="avatar" style="width: auto;max-height: 44px;
              max-width: 44px;">
              <footer class="blockquote-footer testimonial-footer-bg">Miguel Egúsquiza. <cite title="Source Title">SSOMAC CONSULTORES S.A.C.</cite></footer>
            </div>
            </div>
          </div>  
      </div>

      <div class="carousel-item">
          <div class="card testimonial"  >
            <div class="card-body testimonial" >
              <div class="customer-avatar">
                <img src="assets/img/testimonios/Yamaue.jfif" alt="testimonial_1" class="avatar" style="width: auto;">
              </div>
              <div>
              <p class="card-text">Una idea de negocios no es tan fácil de ejecutar. Ustedes P&R World Services tuvieron una idea maravillosa y nosotros los clientes la sabemos apreciar y siempre puedo contar con una mano amiga dentro de esta excelente compañía. Confío infinitamente en sus productos y servicios. Gracias por tanta excelencia.</p>
              <img src="assets/img/testimonios/Victor Yamamoto.jfif" alt="testimonial_1" class="avatar" style="width: auto;max-height: 44px;
              max-width: 44px;">
              <footer class="blockquote-footer testimonial-footer-bg">Victor Yamamoto. <cite title="Source Title">YAMAMUE</cite></footer>
            </div>
            </div>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#CommentsCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon customers" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#CommentsCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon customers" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>