
<div class="card mx-auto" style="width: 50%; height: auto; min-width: 250px;">
    <img class="card-img-top" src="https://cdn.vox-cdn.com/thumbor/5SkzJ1794tKZ61BBE_SiJCwTBVc=/0x0:6000x4000/1200x800/filters:focal(3354x1222:4314x2182)/cdn.vox-cdn.com/uploads/chorus_image/image/65411163/GettyImages_1177789901.0.jpg" alt="more_info_img">
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nihil dolorum ipsum quaerat, culpa quae aperiam vel quibusdam eum sequi soluta iure debitis laudantium explicabo at ipsam alias ipsa harum.</p>
    </div>
  </div>