
<div class="center-align">
  <h3 style="position:relative;left:10px">Testimonios</h3>
  <div id="CommentsCarousel" class="carousel center-block slide" data-ride="carousel" style="max-width:500px">

    <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="card testimonial">
            <div class="card-body testimonial" >
              <div class="customer-avatar">
                <img src="https://scontent.flim9-1.fna.fbcdn.net/v/t1.18169-9/734683_1014782921921049_2819963623085793459_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeEal05vqyrPwMQ6fgPFMoyq5IZjmirO5UPkhmOaKs7lQ5g9ZRAtowIIQqcYb2jlBhI&_nc_ohc=DbIfJJM_SaYAX9CWyQU&_nc_ht=scontent.flim9-1.fna&oh=89cec9020c005c652402b0fe896754ba&oe=60E2B471" 
                alt="testimonial_1" class="avatar" style="width: auto;">

              </div>
              <div>
              <p class="card-text">En base a esa experiencias sólo tengo palabras de excelencia a vuestra labor realizada y que estoy seguro replicará en diferentes Organizaciones cuyo soporte es fundamental en el control de riesgos y en la búsqueda de alternativas de múltiples beneficios no solo a la salud del trabajador sino al medio ambiente con resultados óptimos y comprobados.</p>
              <footer class="blockquote-footer testimonial-footer-bg">Miguel Egúsquiza. Gerente General. <cite title="Source Title">SSOMAC CONSULTORES S.A.C.</cite></footer>
            </div>
            </div>
          </div>  
      </div>
      <div class="carousel-item">
          <div class="card testimonial"  >
            <div class="card-body testimonial" >
              <div class="customer-avatar">
                <img src="https://scontent.flim13-1.fna.fbcdn.net/v/t1.18169-9/23472933_10154832017197175_8091125822676297234_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=d57657&_nc_eui2=AeFQ50rxXCkYLw03wfhh4K4UrhBQSUM7bmuuEFBJQztuaxCjO8nS-qRapcMRFRtG52c&_nc_ohc=YFDj-MOjWfsAX8P-_O1&_nc_ht=scontent.flim13-1.fna&oh=8335fc3b7a0306362684282f1e87113b&oe=60E0CA08" alt="testimonial_1" class="avatar" style="width: auto;">
              </div>
              <div>
              <p class="card-text">Una idea de negocios no es tan fácil de ejecutar. Ustedes P&R World Services tuvieron una idea maravillosa y nosotros los clientes la sabemos apreciar y siempre puedo contar con una mano amiga dentro de esta excelente compañía. Confío infinitamente en sus productos y servicios. Gracias por tanta excelencia.</p>
              <footer class="blockquote-footer testimonial-footer-bg">Victor Yamamoto. <cite title="Source Title">AJE CORPORATIONS</cite></footer>
            </div>
            </div>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#CommentsCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon customers" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#CommentsCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon customers" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>