<!-- Footer -->
<footer class="text-lg-start">
   <!-- Grid container -->
 <div class="container p-4 pb-0" >
  <!-- Section: Social media -->

  <!-- Section: Social media -->
</div>

  <!-- Grid container -->
  <div class="p-4" style="padding-bottom: 0px !important;padding-top: 2px !important;">



    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
        <br>
        <h5 class="text-uppercase">Contacto</h5>
        <p>
          <i class="bi bi-geo-alt"></i>
          Av. Alberto del Campo 409 - Of. 202
          <br>
          <i class="bi bi-geo-alt" style="color: transparent;"></i><strong> San Isidro, Lima, Perú</strong>
        </p>
        <p>
          <i class="bi bi-telephone"></i>
          +51 960 742 178
        </p>
        <p>
          <i class="bi bi-envelope"></i> 
           <a target="_blank" href="mailto:ventas@pyrservicios.com"> ventas@pyrservicios.com </a>
        </p>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
        <img src="assets/img/footer/logo_isotipo_blanco.svg" class="pyr_footer_logo" >
        <br>
        <h5 class="text-uppercase">Sobre la compañia</h5>

        <p style="text-align: justify;">
          Desarrollamos proyectos integrales de diseño y arquitectura trabajando con gran dinamismo, creatividad y velocidad de respuesta. Contribuyendo con el crecimiento comercial frente a un mercado en constante cambio.
        </p>
        <div class="social-networks-container">
          <ul class="social-networks">
            <li>
              <a target="_blank" href="https://www.facebook.com/PyRworldservices" class="text-dark"><i class="bi bi-facebook color-pyr-secondary"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://www.instagram.com/pyrworldservices/?hl=es-la" class="text-dark"><i class="bi bi-instagram color-pyr-secondary"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://www.linkedin.com/company/p-r-world-services-sac/?originalSubdomain=pe" class="text-dark "><i class="bi bi-linkedin color-pyr-secondary"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://www.tiktok.com/@pyrworld" class="text-dark ">
                <svg xmlns="http://www.w3.org/2000/svg" 
                width="22" height="22" fill="currentColor" style="margin-bottom: 9px;"
                class="bi bi-tiktok color-pyr-secondary" viewBox="0 0 16 16">
                  <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z"/>
                </svg>
              </a>
            </li>
          </ul>
          
      </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->


  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);position:relative;overflow:hidden">
   
    
  
    © 2024 Copyright:
    <a style="text-decoration:none" href="https://pyrsevicios.com/">PYRSERVICIOS.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<style>
.rect-img-container {
  position: relative;
  width: 100%;
  height: 7rem;
}

.rect-img {
  position: absolute;
    /* width: 100%; */
    height: 14rem;
    object-fit: cover;
    top: -63px;
    right: 44%;
    left: 44%;
}
</style>