

<div class="row services-container" style="height: 46rem;width:100%;">
    <div class="col services-item">
        <span class="services-item-title">AISLAMIENTO TÉRMICO</span>
        <img src="https://images.adsttc.com/media/images/5238/7b23/e8e4/4e24/5700/017b/medium_jpg/01_enrique-browne-architect_consorcio-santiago.jpg?1379433244" alt="" class="services-item-image">
        <a role="button" modal="modal1" class="btn btn-primary services-item-btn" > Ver más</a>

    </div>
    <div class="col services-item">
        <span class="services-item-title">ACONDICIONAMIENTO DE LOCALES</span>
        <img src="https://i.pinimg.com/564x/a9/1f/c8/a91fc82c6dfc6b92e71f6798862c7b58.jpg" alt="" class="services-item-image">
        <a role="button" modal="modal1" class="btn btn-primary services-item-btn" > Ver más</a>

    </div>
    <div class="col services-item">
        <span class="services-item-title">PROYECTOS LLAVE EN MANO</span>
        <img src="https://images.adsttc.com/media/images/5f62/6ab2/63c0/1741/7d00/041c/large_jpg/Imagem_03_Fachada___Jes%C3%BAs_Perez.jpg?1600285315" alt="" class="services-item-image">
        <a role="button" modal="modal1" class="btn btn-primary services-item-btn" > Ver más</a>

    </div>
    <div class="col services-item">
        <span class="services-item-title">ALMACENES BPA</span>
        <img src="https://images.adsttc.com/media/images/5238/7b23/e8e4/4e24/5700/017b/medium_jpg/01_enrique-browne-architect_consorcio-santiago.jpg?1379433244" alt="" class="services-item-image">
        <a role="button" modal="modal1" class="btn btn-primary services-item-btn" > Ver más</a>

    </div>
</div>