

<div class="services-container" style="display:flex; height:400px;width:100%;">
    <div class="services-item">
        <span class="services-item-title">Residental Care Project in Paris</span>
        <img src="https://media.metrolatam.com/2019/08/10/lamborghinicente-c7331110ff0eda6bfb91a1fc57f6729c-1200x800.jpg" alt="" class="services-item-image">
        <a role="button" modal="modal1" class="btn btn-primary services-item-btn" > Ver m치s</a>

    </div>
    <div class="services-item">
        <span class="services-item-title">Residental Care Project in Paris</span>
        <img src="https://media.metrolatam.com/2019/08/10/lamborghinicente-c7331110ff0eda6bfb91a1fc57f6729c-1200x800.jpg" alt="" class="services-item-image">
        <a role="button" modal="modal1" class="btn btn-primary services-item-btn" > Ver m치s</a>

    </div>
    <div class="services-item">
        <span class="services-item-title">Residental Care Project in Paris</span>
        <img src="https://i.ytimg.com/vi/3G5Fhc43okM/maxresdefault.jpg" alt="" class="services-item-image">
        <a role="button" modal="modal1" class="btn btn-primary services-item-btn" > Ver m치s</a>

    </div>
    <div class="services-item">
        <span class="services-item-title">Residental Care Project in Paris</span>
        <img src="https://media.metrolatam.com/2019/08/10/lamborghinicente-c7331110ff0eda6bfb91a1fc57f6729c-1200x800.jpg" alt="" class="services-item-image">
        <a role="button" modal="modal1" class="btn btn-primary services-item-btn" > Ver m치s</a>

    </div>
</div>