

<div class="row services-container">
    <div class="col-lg-3 col-md-6 col-sm-6 services-item ">
        <span class="services-item-title">AISLAMIENTO TÉRMICO</span>
        <img src="assets/img/servicios/aislamiento_termico.jpg" alt="" class="services-item-image ">
        <div  class="services-description">
            <p>
                La lámina está compuesta por una  espuma de polietileno de 10 mm cubierto por una película de aluminio agregada en ambos lados. Gracias a su composición, se logra una reflectividad de la radiación de hasta el 97% generando una alta  resistencia térmica total en el sistema de construcción. 
            </p>
        </div>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 services-item ">
        <span class="services-item-title">ACONDICIONAMIENTO DE LOCALES</span>
        <img src="assets/img/servicios/acondicionamiento_de_locales.jpg" alt="" class="services-item-image ">
       <div  class="services-description">
        <p>
            Trabajos de remodelación que incluyen tabiquería de drywall, sistema eléctrico, data, mobiliario, iluminación, gasfitería y pintura.
        </p>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 services-item ">
        <span class="services-item-title">PROYECTOS LLAVE EN MANO</span>
        <img src="assets/img/servicios/proyectos_llave_en_mano.jpg" alt="" class="services-item-image ">
        <div  class="services-description">
            <p>
                Desarrollo de los proyectos integrales para laboratorios, tiendas Retail y viviendas.
            </p>
        </div>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 services-item ">
        <span class="services-item-title">ALMACENES BPA</span>
        <img src="assets/img/servicios/almacenes_bpa.jpg" alt="" class="services-item-image ">
        <div class="services-description">
            <p>
                Acondicionamos almacenes BPA para la industria farmacéutica, agroindustrial, alimentaria y droguería.
            </p>
        </div>

    </div>
</div>
