

<div class="row services-container">
    <div class="col-lg-3 col-md-6 col-sm-6 services-item ">
        <span class="services-item-title">AISLAMIENTO TÉRMICO</span>
        <img src="assets/img/servicios/aislamiento_termico.jpg" alt="" class="services-item-image ">
        <div  class="services-description">
            <p class="text-break text-justify">
                La lámina está compuesta por una  espuma de polietileno de 10 mm cubierto por una película de aluminio agregada en ambos lados. Gracias a su composición, se logra una reflectividad de la radiación de hasta el 97% generando una alta  resistencia térmica total en el sistema de construcción. 
            </p>
        </div>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 services-item ">
        <span class="services-item-title">MANTENIMIENTO INTEGRAL</span>
        <img src="assets/img/servicios/acondicionamiento_de_locales.jpg" alt="" class="services-item-image ">
       <div  class="services-description">
        <p class="text-break text-justify">
            Nos encargamos de realizar trabajos de remodelación que incluyen tabiquería de drywall, sistema eléctrico, data, mobiliario, iluminación, gasfitería y pintura, en las condiciones más correctas con el objetivo de cumplir la meta propuesta, logrando un ambiente confortable cumpliendo con las expectativas del cliente.
        </p>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 services-item ">
        <span class="services-item-title">PANELES TÉRMICOS</span>
        <img src="assets/img/servicios/paneles_termicos_2.jpg" alt="" class="services-item-image ">
        <div  class="services-description">
            <p class="text-break text-justify"> 
                Nuestros paneles térmicos están compuestos por dos chapas de acero y un núcleo de polisocianurato (PIR SAFE). Son eficientes en términos de estructuras metálicas, cumplen con normas sanitarias, son fáciles de mantener y tienen una vida útil de más de 30 años. Además, proporcionan un excelente aislamiento térmico, manteniendo la temperatura interna según las necesidades del cliente, incluso en ambientes especiales como salas de procesos o laboratorios.
            </p>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 services-item ">
        <span class="services-item-title">ALMACENES BPA</span>
        <img src="assets/img/servicios/almacenes_bpa.jpg" alt="" class="services-item-image ">
        <div class="services-description">
            <p class="text-break text-justify">
                Acondicionamos almacenes bajo las Buenas Prácticas de Almacenamiento (BPA), con la finalidad de garantizar el mantenimiento de sus instalaciones, equipos, procedimientos operativos y características óptimas durante el proceso. Nos enfocamos en la industria farmacéutica, agroindustrial, alimentaria y droguerías en general.
            </p>
        </div>

    </div>
</div>
